.bg {
    background-color: #2C3E50;
    height: 5rem;
    font-size: 1.3em;
}

nav {
    background-color: #2C3E50;
}

.content-col {
    height: 2rem;
    background-color: brown;
}

.bg1 {
    background-color: #1ABC9C;
}

.bg1-margin {
    background-color: #1ABC9C;
    margin-top: 3rem;
}

.bg1-margin img {
    width: 300px;
}

.content img {
    width: 100%;
}

.star2 {
    font-size: 1.5em;
}

.star2::before {
    position: relative ;
    bottom: 7px;
    content: "";
    display: inline-block;
    height: 4px;
    width: 80px;
    background-color: white;
    border-radius: 10px;
}

.star2::after {
    position: relative ;
    bottom: 7px;
    content: "";
    display: inline-block;
    height: 4px;
    width: 80px;
    background-color: white;
    border-radius: 10px;
}

.star2-black {
    font-size: 1.5em;
}

.star2-black::before {
    position: relative ;
    bottom: 7px;
    content: "";
    display: inline-block;
    height: 4px;
    width: 80px;
    background-color: black;
    border-radius: 10px;
}

.star2-black::after {
    position: relative ;
    bottom: 7px;
    content: "";
    display: inline-block;
    height: 4px;
    width: 80px;
    background-color: black;
    border-radius: 10px;
}

.contact-me button {
    color: white;
    background-color: #1ABC9C ;
    border: 0;
    border-radius: 5px;
    padding: .3rem .7rem;
}

.footer-big {
    background-color: #3A546D;
}

.icon-cont {
    display: inline-block;
    border: 1px solid white;
    padding: .3rem;
    border-radius: 50%;
    margin-right: .2rem;
    width: 2.2em;
    height: 2.2em;
}

.icon-cont:hover {
    cursor: pointer;
}

.text_colored {
    color: #1ABC9C;
}

.text_colored:hover {
    cursor: pointer;
}

.footer-small {
    background-color: #2C3E50;
}